*.db filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
tests/docs/owid-covid-data.csv filter=lfs diff=lfs merge=lfs -text
tests/docs/cvt-test.db filter=lfs diff=lfs merge=lfs -text
docs/cvt-updated.db filter=lfs diff=lfs merge=lfs -text
