{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} About {% endblock %}</h1>
    <body>
        The Covid-19 Visualization Tool was created to display specific correlations from a verified Covid-19
        dataset. The dataset used for this application can be found here:
        <a href =https://github.com/owid/covid-19-data> COVID-19 Dataset</a>.
        Created by Anne-Liz Jeukeng.
        Citation:
            Hannah Ritchie, Edouard Mathieu, Lucas Rodés-Guirao, Cameron Appel, Charlie Giattino,
        Esteban Ortiz-Ospina, Joe Hasell, Bobbie Macdonald, Diana Beltekian and Max Roser (2020) -
        "Coronavirus Pandemic (COVID-19)". Published online at OurWorldInData.org. Retrieved from:
        'https://ourworldindata.org/coronavirus' [Online Resource]
    </body>

{% endblock %}