{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} How Did the Number of People Vaccinated and Boosted Affect the Positivity Rate? {% endblock %}</h1>
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js"></script>
<body>
<HR>
<div align="center" style="background-color:#F5F5F5">
  The purpose of these charts is to answer the question of "Does the number of people partially vaccinated,
  fully vaccinated, and boosted affect the positivity test rate?" Tests include establishing whether an individual is
  currently infected through a Polymerase Chain Reaction (PCR) test or antigen test. These charts only feature data
  from the United States.

</div>
  <div>
    <canvas id="positiveLineChart" width="1200" height="400"></canvas>
    <canvas id="vaccinatedLineChart" width="1200" height="400"></canvas>
    <canvas id="boostedLineChart" width="1200" height="400"></canvas>
  </div>
    <script>


    var labels = {{labels | tojson}};
    var vaccinated = {{vaccinated | tojson}};
    var positive = {{positive | tojson}};
    var boosted = {{boosted | tojson}};

    let pctx = document.getElementById('positiveLineChart').getContext('2d');
    let vctx = document.getElementById('vaccinatedLineChart').getContext('2d');
    let bctx = document.getElementById('boostedLineChart').getContext('2d');


    let pData = {}
    pData.label = []
    pData.time = []
    for (var i = 0; i < labels.length; i++) {
      pData.label.push(labels[i])
      pData.time.push(positive[i] *100)

    }

    let vData = {}
    vData.label = []
    vData.time = []
    for (var i = 0; i < labels.length; i++) {
      vData.label.push(labels[i])
      vData.time.push(vaccinated[i])

    }

    let bData = {}
    bData.label = []
    bData.time = []
    for (var i = 0; i < labels.length; i++) {
      bData.label.push(labels[i])
      bData.time.push(boosted[i]*10000)

    }


    let positiveLineChart = new Chart(pctx, {
      type: "line",
      data: {
      labels: pData.label,
      datasets: [{
        label: '% of Positive Tests (PCR & Antigen) per Day',
        data: pData.time,
        borderWidth: 1,
        fill: false,
        borderColor: 'red'
        }]
        },
      options: {
          responsive: true,
          tooltips: {
            callbacks: {
              label: function(tooltipItem, data){
                return parseInt(tooltipItem.value)
              }
            }
          },
          scales: {
            xAxes: [{
              type: 'time',
              gridLines: {
                display:true
              },
              time: {
                minUnit: 'month'
              }
            }]
          }
        }
        });

    let boostedLineChart = new Chart(bctx, {
      type: "line",
      data: {
      labels: bData.label,
      datasets: [{
        label: '# of Boosters Administered per Day per Million',
        data: bData.time,
        borderWidth: 1,
        fill: false,
        borderColor: 'blue'
        }]
        },
      options: {
          responsive: true,
          tooltips: {
            callbacks: {
              label: function(tooltipItem, data){
                return parseInt(tooltipItem.value)
              }
            }
          },
          scales: {
            xAxes: [{
              type: 'time',
              gridLines: {
                display:true
              },
              time: {
                minUnit: 'month'
              }
            }]
          }
        }
      });

    let vaccinatedLineChart = new Chart(vctx, {
      type: "line",
      data: {
      labels: vData.label,
      datasets: [{
        label: '# of New Vaccination doses per Day per Million',
        data: vData.time,
        borderWidth: 1,
        fill: false,
        borderColor: 'green'
        }]
        },
      options: {
          responsive: true,
          tooltips: {
            callbacks: {
              label: function(tooltipItem, data){
                return parseInt(tooltipItem.value)
              }
            }
          },
          scales: {
            xAxes: [{
              type: 'time',
              gridLines: {
                display:true
              },
              time: {
                minUnit: 'month'
              }
            }]
          }
        }
      });
    </script>
  </center>
</body>
</html>

{% endblock %}