{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} How Did the Number Vaccinations Affect the Number of COVID-19 ICU Patients? {% endblock %}</h1>
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js"></script>
<body>
<HR>
<div align="center" style="background-color:#F5F5F5">
  The purpose of these charts is to answer the question of "Does the number of ICU patients decrease when the
  vaccinations increase?" These charts only feature data from the United States. COVID-19 Intensive Care Unit (ICU)
  patients are adults in the ICU with confirmed COVID-19 cases. New vaccinations include any person receiving a new
  COVID-19 vaccination dose.
</div>
  <div>
    <canvas id="icuLineChart" width="1200" height="400"></canvas>
    <canvas id="vaccinatedLineChart" width="1200" height="400"></canvas>
  </div>
    <script>
    var labels = {{labels | tojson}};
    var patients = {{patients | tojson}};
    var vaccinated = {{vaccinated | tojson}};


    let ictx = document.getElementById('icuLineChart').getContext('2d');
    let vctx = document.getElementById('vaccinatedLineChart').getContext('2d');

    let iData = {}
    iData.label = []
    iData.time = []
    for (var i = 0; i < labels.length; i++) {
      iData.label.push(labels[i])
      iData.time.push(patients[i])

    }

    let vData = {}
    vData.label = []
    vData.time = []
    for (var i = 0; i < labels.length; i++) {
      vData.label.push(labels[i])
      vData.time.push(vaccinated[i])

    }


    let icuLineChart = new Chart(ictx, {
      type: "line",
      data: {
      labels: iData.label,
      datasets: [{
        label: '# of COVID-19 Patients in the Intensive Care Unit (ICU) per Day per Million',
        data: iData.time,
        borderWidth: 1,
        fill: false,
        borderColor: 'red'
        }]
        },
      options: {
          responsive: true,
          tooltips: {
            callbacks: {
              label: function(tooltipItem, data){
                return parseInt(tooltipItem.value)
              }
            }
          },
          scales: {
            xAxes: [{
              type: 'time',
              gridLines: {
                display:true
              },
              time: {
                minUnit: 'month'
              }
            }]
          }
        }
        });

    let vaccinatedLineChart = new Chart(vctx, {
      type: "line",
      data: {
      labels: vData.label,
      datasets: [{
        label: '# New Vaccination Doses per Day per Million',
        data: vData.time,
        borderWidth: 1,
        fill: false,
        borderColor: 'blue'
        }]
        },
      options: {
          responsive: true,
          tooltips: {
            callbacks: {
              label: function(tooltipItem, data){
                return parseInt(tooltipItem.value)
              }
            }
          },
          scales: {
            xAxes: [{
              type: 'time',
              gridLines: {
                display:true
              },
              time: {
                minUnit: 'month'
              }
            }]
          }
        }
        });

    </script>
  </center>
</body>
</html>

{% endblock %}