{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Covid Visualization Tool {% endblock %}</h1>

<div>
    <h3>Did the death rate from COVID-19 decrease when more people were vaccinated?</h3>
<a href="{{ url_for('vaccinated_deaths') }}">
        <button class="button" >Death Rate, Vaccinations, and Boosters </button>
</a>

</div>

<div>
    <h3>Does a higher median age mean more COVID-19 deaths?</h3>
<a href="{{ url_for('median_age_death_rate') }}">
        <button class="button" type="button" role="button">Median Age and Death Rate </button>
</a>
</div>

<div>
    <h3>Is the positivity rate higher when there are a higher number of new COVID-19 tests?</h3>
<a href="{{ url_for('positive_rate_for_total_tests') }}">
        <button class="button" type="button" role="button">Positivity Rate and Total Tests </button>
</a>
</div>

<div>
    <h3>Does the number of ICU patients decrease when the vaccinations increase?</h3>
<a href="{{ url_for('icu_patients_vaccinations') }}">
        <button class="button" type="button" role="button">ICU Patients and Vaccinations </button>
</a>
</div>

<div>
    <h3>Does the number of people boosted affect the positivity test rate?</h3>
<a href="{{ url_for('boosted_positive_rate') }}">
        <button class="button" type="button" role="button">Boosted and Positivity Rate </button>
</a>
</div>

<div>
    <h3>Does a smaller population mean more people get vaccinated?</h3>
<a href="{{ url_for('population_vaccinated') }}">
        <button class="button" type="button" role="button">Total Population and Vaccinations </button>
</a>
</div>


<div>
    <h3>Do stricter lockdown policies mean fewer deaths?</h3>
<a href="{{ url_for('lockdown_deaths') }}">
        <button class="button" type="button" role="button">Lockdowns, Deaths, and Cases </button>
</a>
</div>

{% endblock %}