{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Covid Visualization Tool {% endblock %}</h1>
    <div id="paragraph">
        The COVID-19 Visualization Tool answers the Following Questions:
        <ul>
            <li> Did the death rate from COVID-19 decrease when more people were vaccinated?</li>
            <li> Does a high population density mean more COVID-19 infections? </li>
            <li> Does a higher median age mean more COVID-19 deaths? </li>
            <li> Is the positivity rate higher when there are a higher number of new COVID-19 tests? </li>
            <li> Does the number of ICU patients decrease when the vaccinations increase? </li>
            <li> Does the number of people boosted affect the positivity test rate? </li>
            <li> Does a smaller population mean more people get vaccinated? </li>
            <li> Do stricter lockdown policies mean fewer deaths? </li>
        </ul>
    </div>

{% endblock %}