{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} How Did Strict Lockdowns Affect Deaths and Cases? {% endblock %}</h1>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{{ title }}</title>
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js'></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>

</head>

<body>
<HR>
<div id="paragraph" align="center" style="background-color:#F5F5F5">
  The purpose of these charts is to answer the question of "Did lockdowns help reduce deaths and cases?" The stringency
  index or the government response index is a composite measure based on 9 response indicators including school
  closures, workplace closures, and travel bans, rescaled to a value from 0 to 100, with 100 being the strictest
  response. In the chart below, the green shaded bubbles represent different countries. When hovered over, the
  stringency index and total deaths per million are shown for each country. The size of the bubbles represents the
  total number of cases for that country, to scale. The World Health Organization defines a confirmed case as “a
  person with laboratory confirmation of COVID-19 infection.”

</div>
  <center>

    <canvas id="bubbleChart" width="400" height="400"></canvas>

    <script>
        var cases = {{cases | tojson}};
        var stringency = {{stringency | tojson}};
        var deaths = {{deaths | tojson}};
        var labels = {{labels | tojson}};

        var chartData = {
            datasets: [{
              label: 'Country',
              backgroundColor: "rgba(60,186,159,0.2)",
              borderColor: "rgba(60,186,159,1)",
              data: []
            }]
          }
        for (var i = 0; i < stringency.length; i++) {
          chartData.datasets[0].data.push(
            {
              x: stringency[i],
              y: deaths[i],
              r: cases[i]
            }
          )
        }

        const ctx = document.getElementById('bubbleChart').getContext('2d');

        const bubbleChart = new Chart(ctx, {
          type: 'bubble',
          data: chartData,
          options: {
             plugins: {
                datalabels: {
                    anchor: function(context) {
                        var value = context.dataset.data[context.dataIndex];
                        return value.x < 50 ? 'end' : 'center';
                    },
                    align: function(context) {
                        var value = context.dataset.data[context.dataIndex];
                        return value.x < 50 ? 'end' : 'center';
                    },
                    color: function(context) {
                        var value = context.dataset.data[context.dataIndex];
                        return value.x < 50 ? context.dataset.backgroundColor : 'white';
                    },
                    font: {
                        weight: 'bold'
                    },
                    formatter: function(value) {
                        return Math.round(value.x);
                    },
                    offset: 2,
                    padding: 0
                }
            },
             tooltips: {
                 callbacks: {
                    label: function(tooltipItem, data) {
                       var label = labels[tooltipItem.index];
                       return label + ': (Stringency Index: ' + tooltipItem.xLabel + ', Total Deaths per Million: ' + tooltipItem.yLabel + ',' + ' Total Cases: ' + tooltipItem.r;
                    }
                 }
              },
             scales: {
              yAxes: [{
                scaleLabel: {
                  display: true,
                  labelString: "Total Deaths per Million"
                }
              }],
              xAxes: [{
                scaleLabel: {
                  display: true,
                  labelString: "Stringency Index"
                }
              }]
            },
            annotation: {
              annotations: [{
                type: 'line',
                mode: 'horizontal',
                scaleID: 'y-axis-0',
                value: 2225,
                endValue: 0,
                borderColor: 'rgb(75, 192, 192)',
                borderWidth: 4,
                label: {
                  enabled: true,
                  content: 'Trendline',
                  yAdjust: -16,
                }
              }]
            }
          }
      });
    </script>
  </center>
</body>
</html>
{% endblock %}