{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} How Did the Median Age of Each Country Affect the Total Deaths? {% endblock %}</h1>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{{ title }}</title>
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js'></script>
</head>

<body>
<HR>
<div id="paragraph" align="center" style="background-color:#F5F5F5">
  The purpose of the chart below is to visualize the correlation between median age and total deaths.
  COVID-19 has been known to affect older populations significantly more. Thus, it is statistically evident that
  countries with a higher median age experienced more deaths. It's important to note that the death
  counts can include probable deaths (as in COVID-19 was the <i>probable</i> cause of death), where reported. In the
  chart below, the grey shaded bubbles represent different countries. When hovered over, the median age and total
  deaths per million are shown for each country. It is important to note that
  the scaling of the chart below was determined by outliers and the density
  of certain results. Thus, if the chart had a smaller scale, it would be difficult
  to differentiate between countries where the results were denser.
</div>
  <center>
    <h1>{{ title }}</h1>

    <canvas id="bubbleChart" width="400" height="400"></canvas>

    <script>
        var age = {{age | tojson}};
        var deaths = {{deaths | tojson}};
        var labels = {{labels | tojson}};

        var chartData = {
            datasets: [{
              label: 'Country',
              backgroundColor: "rgba(0,0,0,0.2)",
              borderColor: "#000",
              data: []
            }]
          }
        for (var i = 0; i < age.length; i++) {
          chartData.datasets[0].data.push(
            {
              x: age[i],
              y: deaths[i]
            }
          )
        }

        const ctx = document.getElementById('bubbleChart').getContext('2d');

        const bubbleChart = new Chart(ctx, {
          type: 'bubble',
          data: chartData,
          options: {
             tooltips: {
                 callbacks: {
                    label: function(tooltipItem, data) {
                       var label = labels[tooltipItem.index];
                       return label + ': (Median Age: ' + tooltipItem.xLabel + ', Deaths per Million: ' + tooltipItem.yLabel + ')';
                    }
                 }
              },
             scales: {
              yAxes: [{
                scaleLabel: {
                  display: true,
                  labelString: "Total Deaths per Million"
                }
              }],
              xAxes: [{
                scaleLabel: {
                  display: true,
                  labelString: "Median Age"
                }
              }]
            },
            annotation: {
              annotations: [{
                type: 'line',
                mode: 'horizontal',
                scaleID: 'y-axis-0',
                value: 2225,
                endValue: 0,
                borderColor: 'rgb(75, 192, 192)',
                borderWidth: 4,
                label: {
                  enabled: true,
                  content: 'Trendline',
                  yAdjust: -16,
                }
              }]
            }
          }
      });
    </script>
  </center>
</body>
</html>
{% endblock %}