{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} How Does a Country's Population Affect the Number of People Vaccinated?{% endblock %}</h1>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{{ title }}</title>
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js'></script>
</head>
<body>
<HR>
<div id="paragraph" align="center" style="background-color:#F5F5F5">
  The purpose of these charts is to answer the question of "Does a smaller population mean more people get vaccinated?"
  The motivation behind this chart was the idea that smaller groups of people tend to think the same, while larger
  groups are more likely to think differently from each other. The total of vaccinations are the total number of
  COVID-19 vaccination doses administered per 100 people in the total population.
  In the chart below, the green shaded bubbles represent different countries. When hovered over, the total population
  and the total vaccinations per hundred are shown.
</div>

    <canvas id="scatterChart" width="400" height="400"></canvas>

    <script>
        var population = {{population | tojson}};
        var vaccinated = {{vaccinated | tojson}};
        var labels = {{labels | tojson}};

        var chartData = {
            datasets: [{
              label: 'Country',
              backgroundColor:"green",
              data: []
            }]
          }
        for (var i = 0; i < population.length; i++) {
          chartData.datasets[0].data.push(
            {
              x: population[i],
              y: vaccinated[i]
            }
          )
        }

        const ctx = document.getElementById('scatterChart').getContext('2d');

        const chart = new Chart(ctx, {
          type: 'scatter',
          data: chartData,
          options: {
             tooltips: {
                 callbacks: {
                    label: function(tooltipItem, data) {
                       var label = labels[tooltipItem.index];
                       return label + ': (Total Population: ' + tooltipItem.xLabel + ', Total Vaccinations per Hundred: ' + tooltipItem.yLabel + ')';
                    }
                 }
              },
             scales: {
              yAxes: [{
                scaleLabel: {
                  display: true,
                  labelString: "Total Vaccinations Per Hundred"
                }
              }],
              xAxes: [{
                scaleLabel: {
                  display: true,
                  labelString: "Total Population"
                }
              }]
            }
          }
      });
    </script>
  </center>
</body>
{% endblock %}