{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Positivity Rate by Total Tests{% endblock %}</h1>
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Positivity Rate by Total Tests</title>
</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js"></script>
<body>
  <div>
    <canvas id="testsLineChart" width="1200" height="400"></canvas>
    <canvas id="positiveLineChart" width="1200" height="400"></canvas>
  </div>
  <script>
    var labels = {{labels | tojson}};
    var tests = {{tests | tojson}};
    var positive_rate = {{positive_rate | tojson}};

    const tctx = document.getElementById('testsLineChart').getContext('2d');
    const pctx = document.getElementById('positiveLineChart').getContext('2d');


    let tData = {}
    tData.label = []
    tData.time = []
    for (var i = 0; i < labels.length; i++) {
      tData.label.push(labels[i])
      tData.time.push(tests[i])

    }

    let pData = {}
    pData.label = []
    pData.time = []
    for (var i = 0; i < labels.length; i++) {
      pData.label.push(labels[i])
      pData.time.push(positive_rate[i] *100)

    }


    let testsLineChart = new Chart(tctx, {
      type: "line",
      data: {
      labels: tData.label,
      datasets: [{
        label: '# of New Tests (PCR & Antigen) per Thousand',
        data: tData.time,
        borderWidth: 1,
        fill: false,
        borderColor: 'red'
        }]
        },
      options: {
          responsive: true,
          tooltips: {
            callbacks: {
              label: function(tooltipItem, data){
                return parseInt(tooltipItem.value)
              }
            }
          },
          scales: {
            xAxes: [{
              type: 'time',
              gridLines: {
                display:true
              },
              time: {
                minUnit: 'month'
              }
            }]
          }
        }
        });


    let positiveLineChart = new Chart(pctx, {
          type: "line",
          data: {
          labels: pData.label,
          datasets: [{
            label: '% of Positive Tests',
            data: pData.time,
            borderWidth: 1,
            fill: false,
            borderColor: 'blue'
            }]
            },
          options: {
              responsive: true,
              tooltips: {
                callbacks: {
                  label: function(tooltipItem, data){
                    return parseInt(tooltipItem.value)
                  }
                }
              },
              scales: {
                xAxes: [{
                  type: 'time',
                  gridLines: {
                    display:true
                  },
                  time: {
                    minUnit: 'month'
                  }
                }]
              }
            }
            });


    </script>
  </center>
</body>
</html>

{% endblock %}