{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} New Deaths vs People Vaccinated {% endblock %}</h1>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{{ title }}</title>
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js'></script>

</head>

<body>
  <center>
    <h1>{{ title }}</h1>

    <canvas id="deathsLineChart" width="1200" height="400"></canvas>
    <canvas id="vaccinatedLineChart" width="1200" height="400"></canvas>
    <canvas id="boostedLineChart" width="1200" height="400"></canvas>
    <canvas id="partiallyLineChart" width="1200" height="400"></canvas>

    <script>

    const ctxD = document.getElementById('deathsLineChart').getContext('2d');
    const ctxV = document.getElementById('vaccinatedLineChart').getContext('2d');
    const ctxB = document.getElementById('boostedLineChart').getContext('2d');
    const ctxP = document.getElementById('partiallyLineChart').getContext('2d');

    const deathsLineChart = new Chart(ctxD, {
      type: 'line',
      data: {
        labels: [
          {% for item in labels %}
            "{{ item }}",
          {% endfor %}
        ],
        datasets: [{
            label: '# of Deaths',
            data: [
            {% for item in deaths %}
              {{ item }},
            {% endfor %}],
            borderWidth: 1,
            fill: false,
            borderColor: 'red'
          }
        ]
      },
    });

    const partiallyLineChart = new Chart(ctxP, {
      type: 'line',
      data: {
        labels: [
          {% for item in labels %}
            "{{ item }}",
          {% endfor %}
        ],
        datasets: [
          {
            label: '# of Partially Vaccinated per Hundred (with at least one vaccine dose)',
            data: [
            {% for item in partially_vaccinated %}
              {{ item }},
            {% endfor %}
            ],
            borderWidth: 1,
            fill: false,
            borderColor: 'grey'
          }
        ]
      },
    });

    const vaccinatedLineChart = new Chart(ctxV, {
      type: 'line',
      data: {
        labels: [
          {% for item in labels %}
            "{{ item }}",
          {% endfor %}
        ],
        datasets: [
          {
            label: '# of Fully Vaccinated per Million',
            data: [
            {% for item in vaccinated %}
              {{ item }},
            {% endfor %}
            ],
            borderWidth: 1,
            fill: false,
            borderColor: 'blue'
          }
        ]
      },
    });

    const boostedLineChart = new Chart(ctxB, {
      type: 'line',
      data: {
        labels: [
          {% for item in labels %}
            "{{ item }}",
          {% endfor %}
        ],
        datasets: [
          {
            label: '# of Boosted per Hundred',
            data: [
            {% for item in boosted %}
              {{ item }},
            {% endfor %}
            ],
            borderWidth: 1,
            fill: false,
            borderColor: 'green'
          }
        ]
      },
    });



    </script>
  </center>
</body>
</html>

{% endblock %}