{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} How Did the Number of People Vaccinated and Boosted Affect the Number of Deaths?{% endblock %}</h1>
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Vaccinated and Boosted Death Rate</title>
</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js"></script>
<body>
<HR>
<div align="center" style="background-color:#F5F5F5">
  The purpose of these charts is to answer the question of "Did the death rate from COVID-19 decrease
  when more people were partially vaccinated, fully vaccinated, or boosted?" The number of deaths are the
  total number of deaths per day attributed to COVID-19. Confirmed deaths are collected by
  Johns Hopkins University by date of report, rather than the date of death. Therefore, the number reported
  on a given day does not necessarily represent the actual number on that date, because of the
  long reporting chain that exists between a new death and its inclusion in statistics. This also
  means that time series can show sudden changes (negative or positive) when a country corrects historical data,
  because it had previously under- or overestimated the number of deaths. It's important to note that the death
  counts can include probable deaths, where reported. These charts only feature data from the United States.
</div>
  <div>
    <canvas id="deathsChart" width="1200" height="400"></canvas>
    <canvas id="vaccinatedChart" width="1200" height="400"></canvas>
    <canvas id="partiallyVaccinatedChart" width="1200" height="400"></canvas>
    <canvas id="boostedChart" width="1200" height="400"></canvas>
  </div>
 <script>

    var labels = {{labels | tojson}};
    var vaccinated = {{vaccinated | tojson}};
    var partially_vaccinated = {{partially_vaccinated | tojson}};
    var boosted = {{boosted | tojson}};
    var deaths = {{deaths | tojson}};

    let fctx = document.getElementById('vaccinatedChart').getContext('2d');
    let pctx = document.getElementById('partiallyVaccinatedChart').getContext('2d');
    let bctx = document.getElementById('boostedChart').getContext('2d');
    let dctx = document.getElementById('deathsChart').getContext('2d');


    let fvaxData = {}
    fvaxData.label = []
    fvaxData.time = []
    for (var i = 0; i < labels.length; i++) {
      fvaxData.label.push(labels[i])
      fvaxData.time.push(vaccinated[i])

    }
    let pvaxData = {}
    pvaxData.label = []
    pvaxData.time = []
    for (var i = 0; i < labels.length; i++) {
      pvaxData.label.push(labels[i])
      pvaxData.time.push(partially_vaccinated[i] * 100)

    }

    let bvaxData = {}
    bvaxData.label = []
    bvaxData.time = []
    for (var i = 0; i < labels.length; i++) {
      bvaxData.label.push(labels[i])
      bvaxData.time.push(boosted[i] * 100)

    }
    let dvaxData = {}
    dvaxData.label = []
    dvaxData.time = []
    for (var i = 0; i < labels.length; i++) {
      dvaxData.label.push(labels[i])
      dvaxData.time.push(deaths[i])

    }
let deathsChart = new Chart(dctx, {
  type: "line",
  data: {
  labels: dvaxData.label,
  datasets: [{
    label: '# of Total Deaths per Day',
    data: dvaxData.time,
    borderWidth: 1,
    fill: false,
    borderColor: 'red'
    }]
    },
  options: {
      responsive: true,
      tooltips: {
        callbacks: {
          label: function(tooltipItem, data){
            return parseInt(tooltipItem.value)
          }
        }
      },
      scales: {
        xAxes: [{
          type: 'time',
          gridLines: {
            display:true
          },
          time: {
            minUnit: 'month'
          }
        }]
      }
    }
    });

let vaccinatedChart = new Chart(fctx, {
  type: "line",
  data: {
  labels: fvaxData.label,
  datasets: [{
    label: '# of Fully Vaccinated per Million (with 2 shots of Moderna or Pfizer vaccine or 1 shot of J&J vaccine)',
    data: fvaxData.time,
    borderWidth: 1,
    fill: false,
    borderColor: 'blue'
    }]
    },
  options: {
      responsive: true,
      tooltips: {
        callbacks: {
          label: function(tooltipItem, data){
            return parseInt(tooltipItem.value)
          }
        }
      },
      scales: {
        xAxes: [{
          type: 'time',
          gridLines: {
            display:true
          },
          time: {
            minUnit: 'month'
          }
        }]
      }
    }
    });

  let partiallyVaccinatedChart = new Chart(pctx, {
  type: "line",
  data: {
  labels: pvaxData.label,
  datasets: [{
    label: '# of Partially Vaccinated per Million (with at least one dose of mRNA vaccine)',
    data: pvaxData.time,
    borderWidth: 1,
    fill: false,
    borderColor: 'green'
    }]
    },
  options: {
      responsive: true,
      tooltips: {
        callbacks: {
          label: function(tooltipItem, data){
            return parseInt(tooltipItem.value)
          }
        }
      },
      scales: {
        xAxes: [{
          type: 'time',
          gridLines: {
            display:true
          },
          time: {
            minUnit: 'month'
          }
        }]
      }
    }
    });

  let boostedChart = new Chart(bctx, {
  type: "line",
  data: {
  labels: bvaxData.label,
  datasets: [{
    label: '# of Boosted per Million (doses administered beyond the number prescribed by the vaccination protocol) ',
    data: bvaxData.time,
    borderWidth: 1,
    fill: false,
    borderColor: 'grey'
    }]
    },
  options: {
      responsive: true,
      tooltips: {
        callbacks: {
          label: function(tooltipItem, data){
            return parseInt(tooltipItem.value)
          }
        }
      },
      scales: {
        xAxes: [{
          type: 'time',
          gridLines: {
            display:true
          },
          time: {
            minUnit: 'month'
          }
        }]
      }
    }
    });



 </script>
</body>
</html>
{% endblock %}